.Spinner {
	display: flex;
	justify-content: center;
	margin: 40;
}

button {
color: white;
}

.DetailContainer {
	display: grid;
    grid-template-columns: 2fr 1fr;
	justify-content: center;
	margin: 25px;
    gap: 25px;
	width:800px;
}

.especificaciones {
	font-size: 30px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: oblique;
	box-sizing:initial;

}

.descripcion {
	text-decoration-color: #1d1d1d; 
	text-decoration-thickness: 2px;
	border:1px solid #000000;
}